<div class="img-card iCard-style2 onhover">
    <div class="card-content">
        <div class="card-image">
            <img src="https://static.javatpoint.com/tutorial/webapi/images/web-api-tutorial.png" />
        </div>

        <h1 class="card-title">{{ArticleTitle}}</h1>

        <div class="card-text">
            <p>
                {{ArticleContent}}
            </p>

        </div>

    </div>

    <div class="card-link">
        <a href="#" title="Read Full"><span>Read Full Article</span></a>
    </div>
</div>